{% extends "base.html" %}
{% load thumbnail %}

{% block head %}
    <script type="text/javascript">
		function view(n) {
			style = document.getElementById(n).style;
			style.display = (style.display == 'block') ? 'none' : 'block';
		}
	</script>
{% endblock %}

{% block content %}
    {% for article in articles %}
        <div class="article-content">
            <a href="/article/{{ article.id }}" class="article-href">
                <div class="h1">
                    {{ article.title }}
                </div>
            </a>

            <div class="article-description">
                {% thumbnail article.image "261x180" crop="center" as art %}
                    <img src="{{ art.url }}" width="{{ art.width }}" height="{{ art.height }}">
                {% endthumbnail %}

                <div class="h3">
                    {{ article.description|safe }}
                </div>
            </div>

        </div>
        <div style="clear: both"></div>
        <div id="hr"></div><br>
    {% endfor %}
{% endblock %}